@model RatingListViewModel
@foreach (var r in Model.Ratings)
{
    <div class="card m-3 rounded">
        <div class="card-block m-2">
            <h3>
                <strong style ="margin-left:10px">Reviewer:@r.CustomerId </strong>
                <div style="float:right;margin-right:10px" >
                    <strong>Stars: @r.Stars</strong>
                </div>
            </h3>

            <span class="lead" style="margin-left:10px">@r.ReviewText</span>
        </div>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="List"></div>

<div>
    <a class="btn btn-outline-dark btn-block m-2"
       asp-action="Details"
       asp-controller="Site"
       asp-route-SiteId="@Model.PagingInfo.CurrentSiteId">
        Return to Site Details
    </a>

    <a class="btn btn-outline-dark btn-block m-2"
       asp-action="Create"
       asp-controller="Rating"
       asp-route-SiteId="@Model.PagingInfo.CurrentSiteId">
        Rate this site
    </a>
</div>
