@model Customer
<title>Account Details</title>
<div>
    <h3>@Model.Customer_Id</h3>
    <br />
    <h3>@Model.Customer_Name</h3>
    <br />
    <h3>@Model.Customer_Email</h3>
    <br />
    <h3>@Model.Customer_Password</h3>
    <br />
    <h3>@Model.Customer_Address</h3>
    <br />
    <h3>@Model.SendEmailNotifications</h3>
    <br />
    <h3>@Model.SendTextNotifications</h3>
</div>