@model Customer
<title>Account Details</title>
<div>
   @* TODO: MAKE THIS PAGE CONTAIN EITHER NEWLY CREATED USER INFO OR LOGGED IN USER INFO AND STYLE,
       MAYBE THEIR FAV SITES WOULD BE INCLUDED HERE ALSO-RYAN CAN ACCESS THE LOGGED IN CUSTOMER ID FOR THAT FUNCTIONALITY?
   *@
    <h3>@Model.CustomerId</h3>
    <br />
    <h3>@Model.CustomerName</h3>
    <br />
    <h3>@Model.CustomerEmail</h3>
    <br />
    <h3>@Model.CustomerPassword</h3>
    <br />
    <h3>@Model.CustomerAddress</h3>
    <br />
    <h3>@Model.SendEmailNotifications</h3>
    <br />
    <h3>@Model.SendTextNotifications</h3>
</div>